* {
  box-sizing: border-box;
}
:root {
}
body {
  margin: 0;
  font-family: sans-serif;
}
.shape {
  width: 500px;
  height: auto;
}

.iconShape {
  width: 45px;
  height: 45px;
  position: relative;
  margin-right: 10px;
}
.w-33-3 {
  width: 33.3%;
}
.pointer {
  cursor: pointer;
}
